.intro-content{
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.intro-text-content h2{
    font-size: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img{
    max-width: 90%;
    height: auto;
    position: relative;
    left: 4rem;
}